on:
  release:
    types: [prereleased]

name: On-Pre-Release

concurrency: plan-and-apply

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  Terraform-Apply:
    name: Terraform-Apply
    uses: ./.github/workflows/terraform-apply.yml
    secrets: inherit
    with:
      environment: stage
  Create-Release:
    name: Create-Release
    runs-on: ubuntu-latest
    needs: [Terraform-Apply]
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Checkout everything to get access to the tags
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Toggle pre-release
        env:
          GITHUB_TOKEN: ${{secrets.ACCESS_TOKEN}}
        run: gh release edit ${{github.ref_name}} --prerelease=false --latest=true
