# This workflow verifies the code by linting and testing.

on:
  workflow_call:

name: Verify

jobs:
  Verify:
    runs-on: ubuntu-latest
    steps:
      # Setup environment
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          cache: true
          go-version-file: 'go.mod'

      # Setup private Go module access
      #- name: Private module access
      #  run: |
      #    git config \
      #      --global \
      #      url."<https-with-token-url>".insteadOf "<https-url>"

      # Handle caching of tools
      - name: Tools (cache)
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            bin/
          key: ${{ runner.os }}-tools-${{ hashFiles('Makefile') }}

      # Run hygiene controls
      - name: Lint commits
        run: make lint-conventional-commits
        env:
          BASE_REF: ${{ github.event.pull_request.base.sha }}

      - name: Lint (run)
        run: make lint
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Test
        run: make test
